/*---GLOBAL STYLING---*/
@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body{
    background: #2a595f;
    color: aquamarine;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.1em;
    margin: 0;
}

/*---Typography---*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Pangolin', cursive;
    color: white;
    
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}
a:link{
    color: coral;
    text-decoration: none;
}

/*---Positioning---*/

header{
    position: fixed;
    background: rgba(214, 214, 79, 0.5);
    width: 100%;
    
}
#summary{
    margin-top: 100px;
}

/* --- Layout ---*/
.page-wrapper{
    background: red;
    width: 96%;
    margin: 0 auto;
}
#zen-intro{
   background: lime; 
    
}
#zen-supporting{
    background: pink;
    
}
.sidebar{
    background: teal;
    
}
/* -------------------- Media Queries -------------------*/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}